/attempts/c/udev/udev
/attempts/c/hidraw-example/hidraw
/attempts/c/dev-input-and-bus/dev-input/test
/attempts/c/working/xkeys
/attempts/c/from-git
/attempts/go/hid-list-devices/hid/list-devices
/attempts/go/hidusb/hidusb
/attempts/go/libusb/libusb
/attempts/go/xkeys/xkeys
/reference/linux-drivers-tutorial.html
/reference/84-key-programmable.png
